/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  color: #404040;
  font-family: "skolar", "Georgia", serif;
  font-size: 14px;
  line-height: 1.42857;
}

/* typography yo */

h1, h2, h3, h4, h5, h6 {
	font-family: "ff-meta-web-pro", "Helvetica Neue", arial, sans-serif;
	
}

h1 {
	font-weight: 700
}

h2 {
	font-weight: 400
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}

.job-form {
	width: 215px;
}

.location-form {
	width: 215px;
}

.email-form {
	width: 215px;
}

.pw-form {
	width: 215px;
}

.job-div {
	overflow: hidden;
}

.job-title {
	height: 30px;
}

.job-employer {
	height: 24px;
}

.job-description {
	height: 44px;
}
/* logo stuff */

.navbar-brand { 
	background-image:url(../images/quickjobbr-logo-40.png)
}

/* buttons! what! */

.btn-inverse:active,
.btn-inverse.active {
  background-color: #E44424 \9;
}

.btn-flat {
    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
    border:0;
}

 /* Rating stars! */
 
 i.star {
	background-image: url(../images/star-sprite.png);
	display: inline-block;
	height: 16px;
	width: 80px;
	background-position: -80px -48px;
}

i.star-1    { 
	background-position: -64px -48px; 
}
i.star-2 {
	background-position: -48px -48px;
}
i.star-3 {
	background-position: -32px -48px;
}
i.star-4 {
	background-position: -16px -48px;
}
i.star-5 {
	background-position: 0px -48px;
}

.navbar-nav.nav-justified {
    display:table;
}

.navbar-nav.nav-justified > li{
    float:none;
    width:auto;
}