/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
color:
#404040;
font-family: "skolar"
    , "Georgia", serif;
    font-size: 14px;
    line-height: 1.42857;

}



.jumbotron {
	background-image: none;
	background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0px;
	}
	
	.jumbotron p {
		padding-top: 40px
		
	}

.marginB15 {
	margin-bottom: 15px
	
}

.marginB20 {
	margin-bottom: 20px
	
}

.marginT15 {
	margin-top: 15px
}

.marginMinus15 {
	margin-left: -15px
}

a { 
	color: #67BCDB
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.thumbnail, .img-thumbnail {
	border: none;
	padding-left: 0px;
}

/* typography yo */

h1, h2, h3, h4, h5, h6 {
font-family: "ff-meta-web-pro"
    , "Helvetica Neue", arial, sans-serif;

}

h1 {
    font-weight: 700
}

h2, h3, h4, h5 {
    font-weight: 600
}
.italic {
	font-family: "skolar",serif;
	font-style: italic;
	font-weight: 600;
}


.review {
	font-family: "skolar",serif;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 15px;
}
/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 600px) {
    /* Let the jumbotron breathe */
    .jumbotron {
        margin-top: 20px;
        background-image: url(../images/shaking-hands.jpg);
    }
    /* Remove padding from wrapping element since we kick in the grid classes here */
    .body-content {
        padding: 0;
    }
}


.job-form {
    width: 215px;
}

.location-form {
    width: 215px;
}

.email-form {
    width: 215px;
}

.pw-form {
    width: 215px;
}

.job-div {
overflow:
    hidden;
	
}

.saved-job-div {
border-style:
    solid;
overflow:
    hidden;
}

.job-title {
    height: 50px;
}

.job-employer {
    height: 24px;
}

.job-description {
    height: 39px;
	margin-bottom: 15px;
}
/* logo stuff */

.job-length-pay {
    height:24px;
}

.clear {
clear:
    both;
}

.quickjobbr-logo-main {
    max-width: 100%;
}

.navbar-brand {
background-image:
    url(../images/quickjobbr-icon-40.png);
background-repeat:
    no-repeat;
    margin-top: 5px;
    width: 41px;
    height: 40px;
}

.job-container {
background-color:
#DDDDDD;
}

a.animated {
	-o-transition:color 250ms ease-out;
	-ms-transition:color 250ms ease-out;
	-moz-transition:color 250ms ease-out;
	-webkit-transition:color 250ms ease-out;
	transition:color 250ms ease-out;
}

a.animated:hover {color:#2A6496;}

/* buttons! what! */
.btn-primary {
	-webkit-transition-timing-function:ease-out;
	-webkit-transition-duration:250ms;
	transition-timing-function:ease-out;
	trasition-duration:250ms;
	background: rgba(0,0,0,0.5);
	border-radius: 5px 5px;
}

.btn-default {
	-webkit-transition-timing-function:ease-out;
	-webkit-transition-duration:250ms;
	transition-timing-function:ease-out;
	transition-duration:250ms;
	background: rgba(0,0,0,0.5);
	border-radius: 5px 5px;
}

.btn-inverse:
active,
.btn-inverse.active {
background-color:
#E44424 \9;
}

.btn-flat {
filter:
progid:
    DXImageTransform.Microsoft.Gradient(enabled='false');
-webkit-box-shadow:
    none;
-moz-box-shadow:
    none;
box-shadow:
    none;
background-image:
    none;
    border:0;
    border-radius: 0px 0px 0px 0px;
}

.btn-primary {
    background-color: #5AA4BF;
    color: #FFFFFF;
}

.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active {
    background-color: #67BCDB;
    color: #FFFFFF;
} 

.btn-default {
    background-color: #E44424;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: #FF4C4C !important;
}

.btn-login: hover,
.btn-login: focus,
.btn-login:active {
	background-color: #FF4C4C;
	color: #FFFFFF;
}

/* form stuff */

.form-control {
    border-radius: 0px;
}

body.working-page {
	padding-top: 0px;
	padding-bottom: 0px;
}

.working-page-image {
	width: 100%;
	display: none;
}

/* Rating stars! */

i.star {
background-image:
    url(../images/star-sprite.png);
display:
    inline-block;
    height: 16px;
    width: 80px;
background-position:
    -80px -48px;
}

i.star-1    {
background-position:
    -64px -48px;
}
i.star-2 {
background-position:
    -48px -48px;
}
i.star-3 {
background-position:
    -32px -48px;
}
i.star-4 {
background-position:
    -16px -48px;
}
i.star-5 {
    background-position: 0px -48px;
}

.navbar-nav.nav-justified {
display:
    table;
}

.navbar-nav.nav-justified > li {
float:
    none;
width:
    auto;
}

/* Employee Specific css names */
/* Initially the same as job-* */
.person-name {
    height: 30px;
}

.person-description {
    height: 44px;
}

.person-picture {
    float: left;
    margin-right: 5px;
}

.person-heading {
    padding: 0px;
    margin: 0px;
}

.person-row {
    margin-bottom: 15px;
}

/* Talent Specific css names */
.talent-job-title {

}

.talent-job-description {

}

@media all and (max-width: 800px) {
    .full {
display:
        none;
    }
    .mobile {
display:
        block;
    }
}

@media all and (min-width: 801px) {
    .full {
display:
        block;
    }
    .mobile {
display:
        none;
    }
}

footer div.full h2 {
    font-size: 100%;
}

footer .list-group {
background-color:
    inherit;
}

footer .list-group-item {
border:
    none;
    padding-bottom: 0;
}
